<div class="row">

  <div class="col-md-8">

    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>

      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>

      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>

    </div>

  </div>

</div>

<h2>Posts:</h2>

<% if @user.has_posts %>
  <%= render @user.posts %>
<% else %>
  <br />
  <p> <%= @user.name %> has not made any posts yet</p>
<% end %>

<h2>Comments:</h2>
<br />

<% if @user.has_comments %>
  <%= render @user.comments %>
<% else %>
  <br />
  <p> <%= @user.name %> has not made any comments yet</p>
<% end %>

<h2> Favorite Posts: </h2>

<% fav_posts = return_posts_favored_by_user(@user) %>

<% fav_posts.each do |fp| %>
  <div class="row">

      <div class="col-md-1">
        <p> Author Gravitar </p>
      </div>

      <div class="col-md-9">
        <p> <%= fp.title %> </p>
        <p> <%= fp.body %> </p>
      </div>

      <div class="col-md-2">
        <p> Number of Votes: </p>
        <p> Number of Comments: </p>
      </div>

  </div>
<% end %>
