<!DOCTYPE html>
<html>
<head>
  <title>Bloccit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="container">

  <ul class="nav nav-tabs">

    <li> <%= link_to "Home", welcome_index_path %> </li>

    <li> <%= link_to "About", welcome_about_path %> </li>

    <li>
      <%= link_to "My LinkedIn", "https://www.linkedin.com/in/jason-clegg-37739422", class: "social-btn" %>
    </li>

    <li>
      <a href="https://github.com/jgcdeveloper" class="btn btn-info">
        <%= image_tag "GitHub-Mark-32px.png"%> My GitHub
      </a>
    </li>

  </ul>

</div>

<%= yield %>

</body>

</html>
